@import "../../vars.css";

.container{
    color:var(--color-text);
    margin-left: 10%;
    margin-top: 70px;
}

.container h2 {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.Boxes{
    display: grid;
    grid-template-columns: repeat(2, 0.4fr);
    align-items: center;
    justify-content: center;
    margin-right: 10%;
    gap: 20px;
}

.FrontEndBox, .BackEndBox, .DesignBox, .OthersBox {
    width: 550px;
    height: 300px;
    border: 2px solid #2D92B2;
    border-radius: 15px;
    box-shadow: 0 0 10px #2D92B2;
    background: #121820;
}


.FrontEndBox h3, .BackEndBox h3, .DesignBox h3, .OthersBox h3 {
    text-align: center;
    margin-top: 5px;
    font-size: 28px;
}

.containerFront, .containerBack , .containerDesign, .containerOthers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skillsFront, .skillsBack, .skillsDesign, .skillsOthers {
    display: flex;
    gap: 12px;
    margin: 15px;
}

.skillElement{
    font-size: 16px;
    font-weight: 400px;
    border: 2px solid #ADB0B2;
    border-radius: 12px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.skillElement p {
    text-align: center;
}



@media screen and (max-width: 830px) {

    .Boxes{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .FrontEndBox, .BackEndBox, .DesignBox, .OthersBox {
        width: 400px;
        height: 370px;
    }
}

