:root {

    /* File for defining variables that will be used in another css file*/
    /* colors  2E2B2B*/
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #061934;


    /* fonts */
    --font-roboto: "Roboto";
}