@import "../../vars.css";

.singleProject{
   color: white;
   background: #121820;
   display: flex;
   flex-direction: column;
   height: 250px;
   width: 400px;
   transition: 1s;
}

.singleProject:hover{
    transform:scale(1.1);
    z-index:2;
}

.singleProject h3, p{
    margin-left: 14px;
    margin-right: 14px;
    font-family: 'Montserrat', sans-serif;
}

.learnButton {
    margin-top: 20px;
    background: var(--color-primary);
    border-radius: 10px;
    padding: 12px 20px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: relative;

}

.fullButton{
    display: flex;
    justify-content: center;
    align-items: center;
}


.skills{
    color: white;
    border: 1px solid var(--color-dark);
    background: var(--color-dark);
    margin-right: 10px;
    margin-left: 20px;
    border-radius: 15px;
    padding: 10px 15px;
    margin-top: 10px;

}

.allS{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   list-style-type: none;
}

.title{
    margin-top: 10px;
    margin-bottom: 10px;
}

.date, .location{
    margin-bottom: 10px;
    color: gray;
}


.description {
    margin-bottom: 10px;
}

.modal {
    position: fixed;
}

.backCard{
    color: white;
    background: #121820;
    display: flex;
    flex-direction: column;
    height: 250px;
    transition: 1s;
    box-shadow: 0 0 5px #ECF4F9;
}

.frontCard{
    color: white;
    background: #121820;
    display: flex;
    flex-direction: column;
    height: 250px;
    transition: 1s;
    box-shadow: 0 0 5px #ECF4F9;
}

.flipImg{
    width: 30px;
    height: 30px;
    position: fixed;
    right: 0px; bottom: 0px;

}

.gitLink{
    color: #EEF2F4;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.backCard a {
    text-decoration: none;
}

.buttonLink{
    background: #232425;
    width: 30%;
    margin-left: 14px;
    margin-top: 3%;
    border-radius: 8px;
    padding: 10px 18px;
    max-width: 150px;
    border: 1px solid #232425;
}

