@import "../../vars.css";

.container{
    color:var(--color-text);
    margin-left: 10%;
    margin-top: 70px;
}

.container h2 {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.jobContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 9%;
    gap: 30px;
}

.CSA{
    display: flex;
    flex-direction: column;
    border: 2px solid #083F5F;
    box-shadow: 0 0 20px #083F5F;
    border-radius: 15px;
    max-width: 600px;
}

.CSA h3 {
    margin-left: 15px;
    margin-top: 15px;
}

.CSAimg{
    margin-left: 10px;

}

.test{
    margin-top:15px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px;
}

.CSAimg p {
    color:gray;
    margin-bottom: 10px
}

.CSAimg ul {
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.CSAimg li {
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    
}